*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body button,li{
    cursor: pointer;
}

/* Navbar Start */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    padding: 10px;
    /* position: fixed;
       width: 100%; */
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
}

.navbar-logo img {
    width: 120px;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
}

.navbar-links ul li a,
.navbar-links ul li {
    padding: 7px;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}
.dropdown-content a:hover {
    background-color: #d8ffd1;
    color: #111;
}
.dropdown-content a {
    padding: 15px;
    color: #000000;
    display: block;
    text-align: left;
    text-decoration: none;  
    background-color: #ffffff;
    margin-top: 7px;
}
.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box .search-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}

.search-box .search-btn:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-toggle,
.navbar-close {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #dfdfdf;
        width: 100%;
        text-align: center;
    }
    .navbar-logo img {
        width: 70px;
    }
    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links ul li {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid white;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-close {
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links.active + .navbar-close {
        display: block;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-toggle,
    .navbar-close {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
}
}
/* Navbar End */


/* Banner Start */
.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.767)), url(/Images/banner.jpg);
    padding: 5rem; 
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-container p {
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 2rem;
}
.banner-container h1,h2 {
    text-align: left;
    color: #ffffff;
    margin-bottom: 2rem;
}
.left-banner{
    width: 50%;
}
.right-banner{
    width: 40%;
}
.contact-form {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #b6b5b5;
    outline: none;
    transition: all 0.3s ease;
    background: transparent;
}

.form-group label {
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.form-group textarea {
    resize: none;
    height: 100px;
    display: block;
}

.contact-form button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #28b310;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    margin-top: 1rem;
}

.contact-form button:hover {
    background-color: transparent;
    color: #28b310;
    border: #9bf88a 1px solid;
}
  
/* Banner End */



/* Whyus Start */
.whyus{
    padding: 1rem;
    margin-top: 2rem;
    background-color: #fcfcfc;
}
.whyus-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.whyus h2{
    text-align: center;
    color: #359d21;
    letter-spacing: 2px;
}
.whyus h4{
    text-align: center;
    color: #202020;
    letter-spacing: 1px;
}
.left-child{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.left-child-image img{
    width: 80px;
}
.center-whyus img{
    width: 400px;
}
.right-child{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;
}
.right-child-image img{
    width: 80px;
}

/* Whyus End */




